<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
	<div style="position: absolute; width: 200px; height: 200px; background-color: red; top: 300px; left: 300px;">
      <form>
         <input id="user_id" type="text" name="ID"><br><br>
         <input id="user_pw" type="password" name="PW"><br><br>
         <div onclick="user_login();" style="width: 50px; height: 50px; background-color: white; cursor: pointer;">로그인</div>
      </form>
   </div>
   <button onclick="getuserinfo();">getuserinfo</button>
</body>
<script src="static/js/jquery/jquery.min.js"></script>
<script src="static/js/test.js"></script>
</html>